section {
  text-align: left;
  color: white;
}
.detail-page .movie-player {
  margin: auto;
  margin-top: 20px;
}

.detail-page .detail-page__title {
  padding: 20px;
  margin-top: 20px;
}

.detail-page .detail-page__content {
  text-align: left;
  margin-left: 20px;
  max-width: 600px;
}
