.container {
  height: 100%;

  display: flex;
  justify-content: center;
}

.loader {
  color: white;
  font-weight: 300px;
}

.movies {
  display: flex;
  flex-wrap: wrap;

  grid-gap: 100px;
  padding: 50px;
  width: 80%;
  padding-top: 70px;
}
