* {
  text-decoration: none;
}

.movies .movie {
  background-color: white;
  margin-bottom: 70px;
  padding: 20px;
  border-radius: 20px;
  color: #adaeb9;
  box-shadow: 0 13px 27px -5px rgb(88, 70, 70), 0 13px 27px -5px rgb(88, 70, 70),
    0 13px 27px -5px rgb(88, 70, 70);
  display: grid;
}

.movies .movie img {
  position: relative;
  top: -50px;
  max-width: 150px;
  width: 100%;
  margin-right: 30px;
}
.movie .movie__title,
.movie .movie__year {
  font-weight: 500;
}
.movie .movie__title {
  color: black;
  font-weight: 600;
}

.movie .movie__year {
  color: gray;
  font-weight: 300;
}

.movie .movie__genres {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 5px 0px;
  color: black;
}

.movie__genres li,
.movie .movie__year {
  margin-right: 10px;
  font-size: 14px;
}

.movie__summary {
  color: lightgray;
}

.movie__summary:hover {
  color: black;
}
